[user]
	name = Guilherme Simoes
	email = guilherme.rdems@gmail.com
[color]
	ui = auto
[core]
	whitespace = trailing-space,space-before-tab
	editor = vim
[alias]
	alias = config --get-regexp 'alias.*'
	amend = commit --amend
	co = checkout
	lstash = stash show -p stash@{0}
	pa = add --patch
	st = status
	cont = rebase --continue
	del = branch -d
	rdel = push --delete origin
[push]
	default = current
